*{
    font-family: sans-serif;
}
body{
    background-color: black;
}
.list{
    list-style: none;
    }header{
        padding-top: 20px;
}header ul{
    width: 40%;
}
header ul li a{
    color: white;
    text-decoration: none   ;
}

.content .text a{
    background-color: white;
    padding: 8px 20px;
    color: black;
    font-weight: 700;
    border-radius: 20px;
}
.content .img{
    width: 30%;
}
.content .img img{
    width: 180px;
}
/*=======================================*/
.icon{
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
}
.icon img{
    width: 80px;
    transition: all 0.5s;
    cursor: pointer;
}
.icon img:hover{
    transform: scale(1.2);
}